<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список программ</title>
    <link rel="stylesheet" type="text/css" href="1.css">
    <link rel="stylesheet" type="text/css" href="2.css">
</head>
<body>
   
    <div class="menu">
        <div class="menu-btn">
            <span></span>
          </div>
       <!-- <p align="center">Меню</p> -->
      </div>

      <div class="menu-list">
        <div class="nav_panel_block">
          <div class="nav_link-wrap">
            <a class="nav_link-1 nav_link" a href="../index.html">Главная</a>
            <a class="nav_link-1 nav_link" a href="list.html">Список программ</a>         
          </div>    
        </div>  
      </div>

    <div class="header_worktime">
        <div class="header_worktime-block">
          <p>Режим работы</p>
          <span>Пн-Вс c 09:00 до 22:00</span>
        </div>
        <div class="header_worktime-title">
          <p>Мы делаем торжество незабываемым!</p>
        </div>
        <div class="header_worktime-contact">
          <a id="nav_phone" href="tel:+7 (999) 999-99-99">8 (999) 999-99-99</a>
        </div>
      </div>
         <h1 class="text" align="center">Список программ</h1>
    </div>

    <div class="flex">
    <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="img/fon.gif" />
                </div>
            </div>
            <div class="body">
                <h3>Космос</h3>
                <b><p>Межгалактические путешественники</p></b>
            </div>
        </div>
     </div>

     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Приключение</h3>
                <b><p>Пираты Карибского Моря</p></b>
            </div>
        </div>
     </div>

     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="img/chelovek-pauk.jpg" />
                </div>
            </div>
            <div class="body">
                <h3>Приключение</h3>
                <b><p>Невероятный Человек Паук</p></b>
            </div>
        </div>
     </div>

     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Гарри Поттер</h3>
                <b><p>Обучение в Хогвартсе</p></b>
            </div>
        </div>
     </div>

     <div class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Фиксики</h3>
                <b><p>Симка и Нолик</p></b>
            </div>
        </div>
     </div>

     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Приключение</h3>
                <b><p>Леди Баг и Кот Нуар</p></b>
            </div>
        </div>
     </div>

     <div class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>LOL</h3>
                <b><p>Игры с куклами</p></b>
            </div>
        </div>
     </div>

     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Приключение</h3>
                <b><p>Клуб Winx</p></b>
            </div>
        </div>
     </div>

     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Приключение</h3>
                <b><p>Кошачий переполох</p></b>
            </div>
        </div>
     </div>
    
     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Скай</h3>
                <b><p>Щенячий патруль</p></b>
            </div>
        </div>
     </div>

     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Приключение</h3>
                <b><p>Пони Единорожек</p></b>
            </div>
        </div>
     </div>
  
     <div class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Приключение</h3>
                <b><p>Дневная фурия</p></b>
            </div>
        </div>
     </div>

     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Игры</h3>
                <b><p>Майнкрафт</p></b>
            </div>
        </div>
     </div>

     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Игры</h3>
                <b><p>Гавайская вечеринка</p></b>
            </div>
        </div>
     </div>

     <div  class="flex-itm">
        <div class="iconblock-6">
            <div class="top">
                <div class="pic">
                    <img src="" />
                </div>
            </div>
            <div class="body">
                <h3>Игры</h3>
                <b><p>Вечеринка в стиле тик-ток</p></b>
            </div>
        </div>
     </div>
    </div>
<script src="1.js"></script>

</body>
</html>